---
---

@import "{{ site.theme }}";

blockquote {
  border-left:3px solid #b5e853;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

a {
  color:#b5e853;
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: #d0e8a2;
  }
}