---
---

@import "{{ site.theme }}";

a {
  color:#b5e853;
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: #d0e8a2;
  }
}

blockquote {
  border-left:3px solid #b5e853;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

hr {
    height: 0;
    border: 0;
    border-bottom: 2px solid #ffffff;
    color: #b5e853;
}